@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
  font-size: 0.85em;
  max-width: 25%;
  border-radius: 8%;
}

.swal2-popup.swal2-toast {
  border-radius: 10%;
}

.swal2-confirm, .swal2-cancel {
  border-radius: 8px; /* Ajusta el radio de los bordes de los botones según tus necesidades */
  padding: 10px 20px; /* Ajusta el espacio interno de los botones según tus necesidades */
  font-size: 1em; /* Ajusta el tamaño de fuente de los botones según tus necesidades */
  color: #fff; /* Cambia el color del texto de los botones según tus preferencias */
  background-color: #4caf50; /* Cambia el color de fondo de los botones según tus preferencias */
  border: 1px solid #4caf50; /* Ajusta el color del borde de los botones según tus necesidades */
}
